/* HTML'S */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $black;
}

img {
  width: 100%;
}

/* Cajas */
header {
  background-color: $white;
  position: relative;
  z-index: 9999;
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1),
    0px 1px 4px rgba(12, 12, 13, 0.05);
  .logo,
  .icons-navbar {
    width: 150px;
    .header-icon {
      cursor: pointer;
    }
  }
  #menu-buscador {
    position: absolute;
    z-index: 10000;
    width: 100%;
    display: none;
    background-color: $primary;
    #searchBar {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        width: 300px;
        background: #ffffff;
        border: 1px solid $primary-light;
        border-radius: 5px;
        margin: 10px 5px;
        padding: 4px;
      }
    }
  }
  .menu-lado {
    background-color: $primary-light;
    position: absolute;
    z-index: 10000;
    width: calc(100% / 4);
    height: 100vh;
    right: 0;
  }
  #menu-favoritos,
  #menu-carrito,
  #menu-perfil {
    display: none;
  }
}

main {
  margin-top: 60px;
  min-height: 100vh;
}

section {
  padding: 50px 0;
  border-bottom: 1px solid $light;
}

footer {
  background-color: $primary;
  color: white;
  padding: 20px 0;
  .div-footer {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-footer {
      display: flex;
      justify-content: center;
      img {
        max-width: 140px;
      }
    }
    p {
      font-size: 14px;
    }
    li {
      list-style: none;
      /*       list-style-position: outside; */
      font-size: 12px;
      margin: 5px -30px;
    }
  }
}

.encabezado {
  height: 30vh;
  background-image: url(https://res.cloudinary.com/dpushmfs0/image/upload/v1730418711/enkoncreto/jue8xh0xd9otakj2esap.jpg);
  color: white;
  h1 {
    font-size: 3.5rem;
  }
}

/* Textos */
h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: $primary-dark;
}

/* Botones */
a {
  color: $primary-dark;
}

.btn {
  font-size: 16px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.btn-header {
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  border-radius: 0px;
  padding: 2px 0 7px 0;
  border-bottom: 2px solid transparent;
}

.btn-header:hover {
  padding-bottom: 7px;
  border-bottom: 2px solid $black;
}

.activo {
  padding-bottom: 7px;
  border-bottom: 2px solid $black;
}

.btn-primary {
  background: $primary-dark;
  color: white;
  text-transform: uppercase;
}

.btn-primary:hover {
  background: $primary;
  color: white;
}

.btn-primary:active {
  background: $primary-dark !important;
  color: white !important;
  box-shadow: inset 3px 6px 5px rgba(0, 0, 0, 0.25);
}

.btn-secondary {
  background: transparent;
  color: $primary-dark;
  border: $primary-dark 1px solid;
}

.btn-secondary:hover {
  background: $primary;
  color: white;
  border: $primary 1px solid;
}

.btn-secondary:active {
  background: $primary !important;
  color: white !important;
  border: 1px solid $primary !important;
  box-shadow: inset 3px 6px 5px rgba(0, 0, 0, 0.25);
}

.newsletter {
  input {
    background-color: transparent;
    color: white !important;
    font-size: 14px;
    padding: 3px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid white;
  }
  input::placeholder {
    color: white;
  }
  .btn-input {
    background-color: $secondary;
    color: white;
    border-radius: 0 5px 5px 0px;
    border: 1px solid white;
    padding: 7px 3px;
    cursor: pointer;
  }
  .btn-input:hover {
    background: $secondary;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
      0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
      0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
      0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    color: white;
  }
  .btn-input:active {
    background: $secondary-dark !important;
    color: white !important;
    box-shadow: inset 3px 6px 5px rgba(0, 0, 0, 0.25);
  }
}

#buscador {
  max-height: 44px;
  input {
    width: 300px;
    background-color: transparent;
    font-size: 14px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid $primary-dark;
    padding: 7px;
  }
  .btn-input {
    background-color: $primary-dark;
    color: white;
    border-radius: 0 5px 5px 0px;
    border: 1px solid $primary-dark;
    padding: 7px;
    cursor: pointer;
  }
  .btn-input:hover {
    background: $primary;
    color: white;
  }
  .btn-input:active {
    background: $primary-dark !important;
    color: white !important;
    box-shadow: inset 3px 6px 5px rgba(0, 0, 0, 0.25);
  }
}

.btn-filtros {
  padding: 8px;
  img {
    width: 20px;
  }
}

/* Cards */
.item-pdto {
  position: relative;
  background-color: $white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  .btn-fav {
    display: none;
    background-image: url(https://res.cloudinary.com/dpushmfs0/image/upload/v1733873275/fav_g7sl4v.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: $primary-dark;
  }
  img {
    width: 100%;
    margin-bottom: 15px;
  }
}

.item-pdto:hover {
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1),
    0px 1px 4px rgba(12, 12, 13, 0.05);
  .btn-fav {
    display: block;
  }
}

.item-taller {
  position: relative;
  border-radius: 15px;
  padding: 0;
  margin: 0 10px;
  .hoverDiv {
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .arrow {
      width: 15px;
    }
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
  }
  .btn {
    z-index: 9999;
  }
  .arrow {
    width: 15px;
    rotate: 180deg;
  }
}

.item-taller:hover {
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1),
    0px 1px 4px rgba(12, 12, 13, 0.05);
  .hoverDiv {
    display: block;
  }
}

/* Detallitos */
#filtros {
  position: relative;
  #menu-filtros {
    z-index: 9999;
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 300px;
    border-radius: 7px 0 7px 7px;
    padding: 20px;
    legend {
      font-size: 18px;
      font-family: abel;
      margin-top: 10px;
      margin-bottom: 3px;
    }
    div {
      border: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 220px;
    }
    input,
    select {
      border: 1px solid $primary-dark;
      border-radius: 5px;
      margin: 5px 0 15px;
      padding: 5px;
      font-size: 14px;
    }
    input {
      max-width: 80px;
    }
    select,
    #input-filtro-nombre-mbl {
      width: 210px;
    }
  }
}

#info-talleres,
#info-proyectos {
  img {
    width: 100%;
    border-radius: 20px;
  }
}

#blog-talleres,
#blog-proyectos {
  .btn {
    padding: 7px;
  }
}


@media screen and (max-width: 992px) {
  section {
    padding: 20px 0;
  }

  .item-pdto {
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1),
      0px 1px 4px rgba(12, 12, 13, 0.05);
    .btn-secondary {
      padding: 5px;
      font-size: 14px;
    }
  }

  .item-taller {
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1),
      0px 1px 4px rgba(12, 12, 13, 0.05);
    margin: 10px 0;
  }
  .logo-footer {
    img {
      width: 100px;
      margin-bottom: 40px;
    }
  }
  .rrss {
    img {
      width: 30px;
    }
  }
}
