#filtros {
    position: relative;
    #menu-filtros-dsk {
        z-index: 9999;
        display: none;
        position: absolute;
        top: 60px;
        right: 10px;
        width: 275px;
        border-radius: 7px 0 7px 7px;
        padding: 20px;
        legend{
            font-size: 18px;
            font-family: abel;
            margin-top: 10px;
            margin-bottom: 3px;
        }
        div{
            border:none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 220px;
        }
        input, select {
            border: 1px solid $primary-dark;
            border-radius: 5px;
            margin: 5px 0 15px;
            padding: 5px;
            font-size: 14px;
          }
          select{
            width: 210px;
          }
          input{
            max-width: 80px;
          }
    }
    /* .menu-lado {
        background-color: $primary-light;
        position: absolute;
        z-index: 10000;
        width: calc(100% / 4);
        height: 100vh;
        right: 0;
    } */
}